
<div id="format">

    <mat-toolbar color="link">
        <span>Outils</span>
      
        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space" class="move-right" ></span>
        <!-- Liste déroulante pour afficher / masquer les colonnes -->
        <mat-form-field>
            <mat-select 
              placeholder="Afficher" 
              [formControl]="columns" 
              [(ngModel)]="selectedValue"
              [(value)] = "selectedOptions"
              (selectionChange) ="changeView($event)"
              multiple 
            >  
            <mat-option *ngFor="let column of helper.getOptionalColumns()" [value]="column.value">{{column.title}}</mat-option>

        </mat-select>
          </mat-form-field>

        <button mat-stroked-button color="basic"
        (click)="update(todo)"
        >Delete</button>
        <span></span>
      </mat-toolbar>

    <mat-table #todos [dataSource]="dataSource" matSort>
      <!-- Titre -->

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>{{helper.getColumn('title').title}}</mat-header-cell>
        <mat-cell *matCellDef="let todo">{{todo.title}}</mat-cell>
      </ng-container>

      <!-- Date de début -->
      <ng-container matColumnDef="begin">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{helper.getColumn('begin').title}}</mat-header-cell>
        <mat-cell *matCellDef="let todo">{{todo.begin | date:'dd-MM-yyyy'}}</mat-cell>
      </ng-container>

      <!-- Date de fin -->
      <ng-container matColumnDef="end">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{helper.getColumn('end').title}}</mat-header-cell>
        <mat-cell *matCellDef="let todo">{{todo.end | date:'dd-MM-yyyy'}}</mat-cell>
      </ng-container>

      <!-- Modification d'un todo -->
      <ng-container matColumnDef="update">
        <mat-header-cell *matHeaderCellDef>{{helper.getColumn('update').title}}</mat-header-cell>
        <mat-cell *matCellDef="let todo">
          <button mat-mini-fab color="accent"
          (click)="update(todo)"
          >
          <mat-icon aria-label="Modifier le todo">
            create
          </mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!-- Bouton de suppression -->
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef>{{helper.getColumn('delete').title}}</mat-header-cell>
        <mat-cell *matCellDef="let todo">
          <button mat-mini-fab color="warn"
          (click)="delete(todo)"
          >
          <mat-icon aria-label="Supprimer le todo">
            delete
          </mat-icon>
          </button>
        </mat-cell>
      </ng-container>

<mat-header-row *matHeaderRowDef="helper.getDisplayedColumns();"></mat-header-row>
<mat-row *matRowDef="let row; columns: helper.getDisplayedColumns();"></mat-row>

    </mat-table>

  </div>
















     <!-- <table [hidden]="todos.length == 0" class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col"><input type="checkbox" (click)="checkUnCheckAll()"></th>
          <th scope="col">TITRE</th>
          <th scope="col">BEGIN</th>
          <th scope="col">END</th>
          <th scope="col">DELETE </th>
          <th scope="col">EDIT</th>
        </tr>
      </thead>
  
      <tbody >
          <button 
            type="button" 
            (click)="deleteCheckedTwo()"
            [disabled]="noneChecked()"
            class="btn btn-danger"
           
            >
              DELETE
            </button>
            
           
        <tr *ngFor="let todo of todos; let i = index;">
            
            <td>
                <input 
                  type="checkbox"
                  (click)="toggle(i)"
                  [checked]=todo.isChecked
                  >
            </td>
          <td [ngClass]="{strikeOut: todo.isChecked}">{{todo.title}}</td>
         <td [ngClass]="{strikeOut: todo.isChecked}">{{todo.begin | date: 'dd-MM-yyyy'}}</td>
          <td [ngClass]="{strikeOut: todo.isChecked}">{{todo.end | date: 'dd-MM-yyyy'}}</td>
          <td>
            <button type="button" (click)="delete(i)" class="btn btn-warning">
              DEL
            </button>
          </td>
          <td>
            <button 
            class="btn btn-success"
            type="button" 
            (click)="update(todo)"
               
            >
              EDIT
            </button>
          </td>
        </tr>
      </tbody>
  
    </table>  -->